
{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}
    <div class="col-auto">
        <a href="#" class="btn header-action-btn">
            <div class="desktop-search-bar d-none d-lg-block d-md-block d-xl-block d-xxl-block">
                {% sw_icon 'search' %}
            </div>
            {# <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
                    <div class="row">
                        <div class="col-sm-auto d-none d-sm-block d-lg-none">
                            {% block layout_header_navigation_toggle_tablet %}
                                <div class="nav-main-toggle">
                                    {% block layout_header_navigation_toggle_tablet_button %}
                                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                                type="button"
                                                data-offcanvas-menu="true"
                                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                                            {% block layout_header_navigation_toggle_tablet_button_icon %}
                                                {% sw_icon 'stack' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    </div>
                </div> #}
        </a>
    </div>
    {{ parent() }}
{% endblock %}

