{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity %}

<div class="product-detail-quantity-input input-group input-group-lg"
            data-quantity-field="true">
    <div class="input-group-prepend">
        <button class="btn btn-secondary decrease" type="button">-</button>
    </div>

    <input type="number" class="form-control form-control-lg"
            style="..."
            name="lineItems[{{ product.id }}][quantity]"
            title="Quantity"
            value="{{ page.product.minPurchase }}"
            max="{{ page.product.maxPurchase }}"
            min="{{ page.product.minPurchase }}">

    <div class="input-group-append">
        <button class="btn btn-secondary increase" type="button">+</button>
    </div>
</div>

{% endblock %}